<div id="<%= dom_id crew %>">
  <tr>
    <th scope="col">  <%= link_to crew.name, crew %></th>
    <th scope="col">Size</th>
    <th scope="col">Foreman</th>
    <th scope="col">E_Rating</th>
  </tr>


</div>
