<div class="container mt-3">

  <h1>Editing crew</h1>

  <%= render "form", crew: @crew %>

  <br>

  <div>
    <%= link_to "Back", @crew, class: "btn btn-secondary" %> |
    <%= link_to "Crews", crews_path, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Delete", @crew, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
