<div class="card">

  <%= column_chart [
                     { name: "Contracted Hours", data: Job
                       .group(:crew_id)
                       .where(crew_id: Crew.first.id).sum(:three_month_hours) },
                     { name: "Workforce Hours", data: Employee
                       .group(:crew_id)
                       .where(crew_id: Crew.first.id).sum(:man_hours_three_months) }],
                   library: {
                     label: {
                       style: {
                         color: '#ffffff'
                       }
                     },
                     title: {
                       text: Crew.first.name,
                       style: {
                         color: '#ffffff',
                         fontWeight: 'bold'
                       }
                     },
                     chart: {
                       backgroundColor: 'transparent',
                       type: 'line'
                     },
                     plotOptions: {
                       series: {
                         dataLabels: {
                           enabled: true,
                           color: 'white'
                         }
                       }
                     },

                     xAxis: {

                       labels: {
                         enabled: false
                       }
                     },
                     legend: {
                       itemStyle: {
                         color: 'white'
                       }
                     }
                   }
  %>


</div>