
<div class="row">
  <% render_billable_division.each do |n| %>
    <div class="col-6">
      <div class="card mt-2">


        <%= column_chart [
                           { name: "Contracted Hours", data: Job
                             .group(:crew)
                             .where( division: Division.find_by_name(n).name).sum(:three_month_hours) },
                           { name: "Workforce Hours", data: Employee
                             .group(:crew)
                             .where( division: Division.find_by_name(n).name).sum(:man_hours_three_months) }],
                         library: {
                           label: {
                             style: {
                               color: '#ffffff'
                             }
                           },
                           title: {
                             text: n,
                             style: {
                               color: '#ffffff',
                               fontWeight: 'bold'
                             }
                           },
                           chart: {
                             backgroundColor: 'transparent',
                             type: 'line'
                           },
                           plotOptions: {
                             series: {
                               dataLabels: {
                                 enabled: true,
                                 color: 'white',
                                 format: '{point.y:,.1f}'
                               }
                             }
                           },

                           xAxis: {
                             categories: {
                             },
                             labels: {
                               enabled: true,

                             }
                           },
                           legend: {
                             itemStyle: {
                               color: 'white'
                             }
                           }
                         }
        %>
<%= Job.all.where(division: Division.find_by_name(n).name).count %>
      </div>
    </div>
  <% end %>
</div>

