<div class="card">
  <h5 class="card-title text-center">Division Three Month Workload</h5>
  <div class="card-body">
    <%= bar_chart [
                    { name: "Contracted Hours", data: Job
                      .group(:division)
                      .where(division: ["Field", "Shop", "Project Management", "Design"]).
                      sum(:three_month_hours) },
                    { name: "Available Hours", data: Employee
                      .group(:division)
                      .where(division: ["Field", "Shop", "Project Management", "Design"])
                      .sum(:man_hours_three_months) }]
    %>
  </div>
</div>