<div class="container-fluid">
  <%= render 'division_workload_card' %>
</div>
<div class="container-fluid">
  <p class="text-center">Three Month Workload Per Crew</p>
  <hr>
  <%= render 'crew_workload_chart' %>
</div>
<div class="container">
</div>