<div class="container-fluid" id="division_workload">
  <%= render 'division_workload_card' %>
</div>
<div class="container-fluid mt-3" id="finance_dashboard">
  <%= render 'finance_dashboard' %>

</div>
<div class="container-fluid mt-3" id="crew_workload">
  <p class="text-center">Three Month Workload Per Crew</p>
  <hr>
  <%= render 'crew_workload_chart' %>
</div>
