<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
<script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
<script>
    let Highgantt = Highcharts;
    Highcharts = null;
</script>
<div data-controller="schedule"></div>


<style>
    #container {
        max-width: 90%;
        min-width: 100vh;
        height: 100%;
        margin: 1em auto;
    }

    .scrolling-container {
        overflow-x: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>


<div class="scrolling-container">
  <div id="container"></div>
</div>
<script type="text/javascript" charset="utf-8">

</script>