<div class="container mt-3">
  <h1>Editing employee</h1>

  <%= render "form", employee: @employee %>

  <br>

  <div>
    <%= link_to "Back", @employee, class: "btn btn-secondary" %> |
    <%= link_to "Employees", employees_path, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Delete", @employee, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
