<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h1>Editing position</h1>

        <%= render "form", position: @position %>

        <br>
        <div>
    <span class="float-end">
          <div class="btn-group btn-group" role="group" aria-label="...">

            <%= link_to "Positions", positions_path, class: "btn btn-primary" %>

            <%= link_to "Delete", @position, method: :delete, data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            }, class: "btn btn-danger" %>

          </div>
    </span>
        </div>
      </div>
    </div>
  </div>
</div>

