<div class="container">

  <h1>Editing job</h1>

  <%= render "form", job: @job %>

  <br>

  <div>
    <%= link_to "Back", @job, class: "btn btn-secondary" %> |
    <%= link_to "All Jobs", jobs_path, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Destroy this job", @job, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
