<p style="color: green"><%= notice %></p>
<div class="container">

  <h1>Jobs</h1>

  <div id="jobs">
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <th scope="col">Name</th>
      <th scope="col">Crew</th>
      <th scope="col">Phase</th>
      <th scope="col">Division</th>
      <th scope="col">View</th>

      </thead>
      <tbody>

      <% @jobs.each do |job| %>
        <%= render job %>
      <% end %>
      </tbody>
    </table>


  </div>

  <%= link_to "New job", new_job_path, class: "btn btn-secondary" %>
</div>
