<div class="container">

  <h1>Editing user</h1>

  <%= render "form", user: @user %>



  <div>
    <span class="float-end">

    <%= link_to "Back", @user, class: "btn btn-secondary" %> |
      <%= link_to "All Users", users_path, class: "btn btn-secondary" %>
      <hr>
      <%= button_to "Delete User", @user, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "btn btn-danger float-end" %>
    </span>
  </div>
</div>
