<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">

        <h1>New user</h1>

        <%= render "form", user: @user %>

        <br>

      </div>
    </div>
  </div>
</div>
