<div id="<%= dom_id division %>">
  <tr>
    <td><%= link_to division.name, division %></td>
    <td><%= hours_per_week %></td>
    <!--    <td><%#= division.three_month_hours %></td>-->
    <!--    <td><%#= division.six_month_hours %></td>-->
    <!--    <td><%#= division.nine_month_hours %></td>-->
    <!--    <td><%#= division.three_month_hours %></td>-->
    <!--    <td> <%#= division.e_rating %></td>-->
    <!--    <td> <%#= division.work_load %></td>-->
  </tr>


</div>
