<div class="container mt-3">

  <h1>Editing division</h1>

  <%= render "form", division: @division %>

  <br>

  <div>
    <%= link_to "Back", @division, class: "btn btn-secondary" %> |
    <%= link_to "Divisions", divisions_path, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Delete", @division, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
