<div class="container mt-3">

  <h1>Editing division</h1>

  <%= render "form", division: @division %>

  <br>

  <div>
    <%= link_to "Back", @division, class: "btn btn-secondary" %> |
    <%= link_to "Divisions", divisions_path, class: "btn btn-secondary" %>
    <hr>
    <%= link_to "Delete Job", @division, method: :delete, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "btn btn-danger" %>
  </div>
</div>
