<div class="container mt-3">

  <h1>Editing division</h1>

  <%= render "form", division: @division %>

  <br>

  <div>
    <span class="float-end">

    <%= link_to "Back", @division, class: "btn btn-secondary" %> |
      <%= link_to "Divisions", divisions_path, class: "btn btn-secondary" %>
      <hr>
      <%= link_to "Delete", @division, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "btn btn-danger float-end" %>
    </span>
  </div>
</div>
