<div class="container mt-3">


  <%= link_to "New Division", new_division_path, class: "btn btn-primary float-end" %>
  <h1>Divisions</h1>

  <div id="divisions">

    <table class="table table-striped table-hover table-bordered">
      <thead>
      <th scope="col">Name</th>
      <th scope="col">Utilization</th>
      <th scope="col">Per Week (<small>Hrs</small>)</th>
      <th scope="col">3 Month (<small>Hrs</small>)</th>
      <th scope="col">6 Month (<small>Hrs</small>)</th>
      <th scope="col">9 Month (<small>Hrs</small>)</th>
      <th scope="col">12 Month (<small>Hrs</small>)</th>
      <th scope="col">E_Rating</th>
      <th scope="col">Workload (<small>3 Month</small>)</th>


      </thead>
      <tbody>
      <% @divisions.each do |division| %>
        <%= render division %>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
