<div class="container">

  <h1>New division</h1>

  <%= render "form", division: @division %>

  <br>

  <div>
    <%= link_to "Back", divisions_path, class: "btn btn-secondary float-end" %>
  </div>
</div>
