<!--<div data-controller="schedule"></div>-->
<div data-controller="schedule" hidden></div>
<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
<script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>
<!-- Include fusioncharts core library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- Include fusion theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>



<style>
    .chart-container {
        width: 40%;
        height: 100vh;
        float: left;
        padding: 20px;
        border: 2px solid lightblue;
    }
</style>


<div id="chart-container"></div>



