<style>
    #container {
        max-width: 1200px;
        min-width: 800px;
        height: 400px;
        margin: 1em auto;
    }

    .scrolling-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<div data-connect="Schedule.js"></div>
<div class="container">

  <h1>Working</h1>
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>
<div class="scrolling-container">
  <div id="schedule"></div>
</div>