<div class="contaienr">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <%= @client.name %>
      </div>
    </div>
    <div class="card-body">
      <h6> Address: <%= @client.address %></h6>
      <p>Phone # <%= @client.phone_number %></p>
    </div>
  </div>
</div>
