<div class="container-fluid pt-3">

  <%= link_to "New Client", new_client_path, class: "float-end btn btn-primary" %>
  <h1>Clients</h1>
  <%= render "clients/search_form" %>
  <div class="overflow-auto table-responsive" style="height: 90vh">
    <table class="table  table-hover  ">
      <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :name, "Name", default_order: :asc) %></th>
        <th scope="col">Projects</th>
        <th scope="col">Address</th>

        <th scope="col">Phone Number</th>
        <th scope="col">Cell Number</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <div id="clients">
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </div>
      </tbody>
    </table>
  </div>


</div>
