<div class="container mt-3">
  <h1>Projects</h1>
  <div class="row mt-5">


    <% @projects.each do |p| %>


      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title"><%= link_to p.name, project_path(p.id) %></h2>
            <p>Project Manager <%= p.project_manager %></p>
          </div>
          <div class="card-body">
            <p><%= p.info %></p>
          </div>

        </div>
      </div>
    <% end %>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col">
          <div class="card px-4 py-4">
            <%= render "projects/form", :object => @project %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
