<div class="container ">
  <div class="card" style="width: 80vw;">
    <%= image_tag "logo_transparent_background.png", width: 180, height: 144 %>
    <div class="card-body">
      <h5 class="card-title">Welcome Please Log In Or Sign Up</h5>
      <p class="card-text">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque, cupiditate delectus dicta ipsa labore magnam porro repellat sint sit! Commodi ex laboriosam nostrum quaerat, quis rem temporibus voluptate voluptatibus?</span><span>Alias amet at consequatur cum distinctio doloribus exercitationem fugiat id incidunt inventore minus nostrum, officia omnis possimus quibusdam repellendus rerum. Ab ad aperiam eligendi mollitia reiciendis, sed soluta suscipit voluptate.</span><span>Accusantium aliquam cum delectus, dolor dolores error eveniet excepturi explicabo fugit inventore ipsam maiores neque nisi pariatur perspiciatis porro possimus provident quis quod rerum sint tenetur totam vel. Natus, perspiciatis?</span><span>Aspernatur enim error, eveniet nihil rem sed totam velit vero. Animi aperiam, atque eveniet illum impedit maiores maxime minus molestias natus nemo numquam officia optio quis recusandae sed similique totam.</span><span>Aliquid dolores placeat quam similique soluta. Assumenda iure maiores quis vero voluptatem. Ad amet at distinctio, dolorum enim id impedit nesciunt non nulla odio repellendus rerum sapiente tempora ut veritatis?</span>
      </p>
      <a href="#" class="btn btn-primary">Sign In</a>
    </div>
  </div>
</div>