<div class="container mt-3">

  <h1>Editing project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Back", @project, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Delete Project", @project, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
