<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<% @projects.each do |project| %>
  <div id="projects">
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
<% end %>
</div>

<%= link_to "New project", new_project_path %>
