<div class="container">


  <%= render @project %>

  <div>

  </div>
  <%= link_to "Add Phase", project_phase_path, class: "btn btn-primary text-info float-end " %>

  <%= render "projects/job_info_table" %>
</div>
