<div class="container-fluid p-3">


  <%= render @project %>

  <div>
    <hr>
  </div>
  <%= link_to "Add Phase", project_phase_path, class: "btn btn-success  float-end " %>

  <%= render "projects/job_info_table" %>
</div>
