<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h1>Editing role</h1>

        <%= render "form", role: @role %>



        <div>

          <%= link_to "Back", roles_path, class: "btn btn-primary float-end " %>
        </div>


      </div>
    </div>
  </div>
</div>
