<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h1>Editing role</h1>

        <%= render "form", role: @role %>




        <span class="float-end mt-3">
<div class="btn-group btn-group float-end" role="group" aria-label="...">
            <%= link_to "Back", roles_path, class: "btn btn-primary float-end " %>


  <%= link_to "Delete", @role, method: :delete, data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class: "btn btn-danger float-end" %>
</div>
</span>


      </div>
    </div>
  </div>
</div>
