<div id="<%= dom_id phase %>">
  <tr>
    <td><%= link_to phase.name, phase %></td>
    <td>hours per week</td>
    <td>three_month_hours</td>
    <td>six_month_hours</td>
    <td>nine_month_hours</td>
    <td>tweleve_month_hours</td>


  </tr>

</div>
