<div class="container">

  <h1>Editing phase</h1>

  <%= render "form", phase: @phase %>

  <br>

  <div>
    <span class="float-end">

    <%= link_to "Back", @phase, class: "btn btn-secondary" %> |
      <%= link_to "Phases", phases_path, class: "btn btn-secondary" %>
      <hr>
      <%= link_to "Delete", @phase, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "btn btn-danger float-end" %>

    </span>
  </div>
</div>
