<div class="container">

  <h1>Editing phase</h1>

  <%= render "form", phase: @phase %>

  <br>

  <div>
    <%= link_to "Back", @phase, class: "btn btn-secondary" %> |
    <%= link_to "Phases", phases_path, class: "btn btn-secondary" %>
    <hr>
    <%= button_to "Destroy this phase", @phase, method: :delete, class: "btn btn-danger" %>

  </div>
</div>
